/* Add application styles & imports to this file! */
* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

h1{
  color: rgb(189, 5, 5)
}

button {
  padding: 10px;
  border-radius: 25px;
}